body{
	background: rgb(255,255,255); 
	font-size: 30px; !important
	color: rgb(64,64,64);
	font-family: "Open Sans Condensed", sans-serif; !important
	margin: 0px;
}

body * {
	/*background: rgb(255,246,246);*/
}

.links, table{
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.header{
    background: rgb(64,64,64);
    color: rgb(255,255,255);
		border-bottom: 1px solid rgb(64,64,64);
}

#header-text {
	/*background-color: rgb(229,221,221);
	background-size: cover;
	/* Fonts Tweaks */ 
	font-size: 42px;
  letter-spacing: 4px;

	/* Alignment */
	padding-left: 0px;
	padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
	text-align: left;


	/* Color */
	/*color: rgb(64,61,61);
	border: 1px solid rgb(64,61,61);*/
}

h1 {
	/*background-color: rgb(191,184,184);*/
	margin-top: 0px;
}

h2 {
	font-weight: 100;
	font-size: 32px;
	letter-spacing: 0.5em;
	font-family: 'Trirong', serif;
	padding-top: 0px;
	margin-top: 0px;
	/*border: 1px solid #403D36;
	background: rgb(191,184,184);*/
	text-align: center;
}

ul {
	list-style-type: none;
	margin-top: 1px;
	margin-bottom: 1px;
	padding-left: 1em;
}
.search {

	/* Alignment */
	padding-left: 0px;
	padding-right: 0px;
	margin: 30 auto;
	text-align: center;

}
.results {
	break-inside: avoid-column;
	text-align: left;
}
p {
	/* color: #262626;*/
	padding-left: 2em;
	padding-right: 2em;
	margin-top: 0;
}

table {
	border: 1px solid #7F7F7F;
	border-collapse: collapse;

}

td {
	border: 1px solid #7F7F7F;
	border-collapse: collapse;
	padding-left: 1em;
	padding-right: 1em;
}

#tbl {
	padding-bottom: 2em;
}

.num{
	letter-spacing: 0.1em;
}

.intense {
	font-weight: bold;
	letter-spacing: 0.1em;
}

.links {
	display: inline-block;
	text-align: center;
	margin: 0 auto;
}

.links-div {
	text-align: center;
}

.col {
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 2em;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-moz-margin-before: 0;
	-moz-margin-after: 0;
	-webkit-columns: 4 150;
	-moz-columns: 4 150px;
	columns: 4 150px;
	-webkit-column-gap: 4em;
	-moz-column-gap: 4em;
	column-gap: 4em;
}
form {
  width: 100%;
}

input {
	height: 2em;
	background: rgb(255,255,255);
	border: 1px solid rgb(64,64,64);
  border-radius: 5px;
}

button {
  padding-left: 1%;
  padding-right: 1%;
	margin-left: 5px;
	height: 2em;
	border: 1px solid rgb(64,64,64);
  border-radius: 5px;
  background: rgb(255,255,255);
}

button:hover {
	transform: scale(1.05);
	-moz-transform: scale(1.05);
}
.result-div ul{
	margin: 0 auto;
	display: table;
	padding: 0;
}
.info {
	margin-left: 1.5em;
	list-style-type: square;
}

a {
	color:inherit;
	text-decoration: none;
}

a:hover{
	color:inherit;
	text-decoration:none;
}

.panel {
	-webkit-column-break-inside: avoid;
	/* Chrome, Safari, Opera */
	page-break-inside: avoid;
	/* Firefox */
	break-inside: avoid;
	/* IE 10+ */
	margin-bottom: 20px;
	/*background-color: #fff;*/
	border: 1px solid rgb(191,191,191);
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel:hover{
	transform: scale(1.1);
	-moz-transform: scale(1.1);
}

.panel-body {
	padding: 15px;
	/*background: rgb(229,221,221);*/
}
.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	/*background: rgb(191,184,184);*/
  color: rgb(255,255,255);
  background: rgb(64,64,64);
}
.panel-heading > .dropdown .dropdown-toggle {
	color: inherit;
}
.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	color: inherit;
	/*background: rgb(191,184,184);*/
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
	color: inherit;
	background: inherit;
}
.panel-footer {
	padding: 10px 15px;
	/*background-color: #f5f5f5;*/
	border-top: 1px solid #ddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

